{% extends 'base.html' %}
{% block title %}Meus Dados{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/meuApp/css/meusDados.css">
<h1>Meus Dados</h1>
<p>Altere os dados que achar necessário.</p>
<a href="{% url 'UserUpdate' user.pk %}">Alterar Dados de Acesso</a>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!--Criação da Classe confirmar -->
    <button class="bntConfirmar"  type="submit">Confirmar</button>
    <!--Criação do botão e classe Limpar -->
    <button class="bntLimpar" type="reset">Limpar</button>
{% endblock %}
{% block scripts %}
<script src="../../static/meuApp/js/jquery.mask.js"></script>

<script>
    $(document).ready(function(){
        var SPMaskBehavior = function (val) {
  return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
},
spOptions = {
  onKeyPress: function(val, e, field, options) {
      field.mask(SPMaskBehavior.apply({}, arguments), options);
    }
};

$('#id_telefone').mask(SPMaskBehavior, spOptions);
    })
</script>
{% endblock %}