{% extends 'base.html' %}
{% block title %}Cadastrar Estoque{% endblock %}
{% block content %}
<h1>Cadastro de Fardos (Estoque)</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}
{% block scripts %}
<script src="../../static/meuApp/js/jquery.mask.js"></script>

<script>
    $(document).ready(function(){
        $('#id_dataFabricacao').mask('00/00/0000');
        $('#id_dataValidade').mask('00/00/0000');
    })
</script>
{% endblock %}