{% extends 'base.html' %}
{% block title %}Cadastrar Produtos{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/meuApp/css/preview.css">
<link rel="stylesheet" href="../../static/meuApp/css/produtos.css">
  
<h1>Cadastro de Produtos</h1>
<hr>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <label class="picture" for="id_imagem" tabIndex="0">
        <span class="picture__image"></span>
    </label>
    <button type="submit" class="btn_salvarproduto">Cadastrar</button>
    <button type="reset" class="btn_limparproduto">Limpar</button>
</form>
{% endblock %}

{% block scripts %}
<script src="../static/meuApp/js/preview.js"></script>
{% endblock %}