{% extends 'base2.html' %}
{% block title %}Cadastre-se{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/usuarios/css/cadastrar.css">
<form action="" method="POST" class="formLogin">
    {% csrf_token %}
    <div id="cadform">
        <img class="logologin" oncontextmenu="return false;" src="../../static/usuarios/imagens/Picsart_24-02-17_10-01-27-703.png" alt="">
        <div id="cadform2">
            <h1>Cadastre-se</h1>
            <p>Digite os dados obrigatórios campo abaixo.</p>
        </div>
    </div>
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn">Cadastrar</button>
</form>

<script>
    var labels = document.querySelectorAll('form label');
    labels.forEach(function(label) {
        label.insertAdjacentHTML('afterend', '<br>');
    });
</script>
<script>
    var spans = document.querySelectorAll('form span');
    spans.forEach(function(span) {
        span.insertAdjacentHTML('beforebegin', '<br>');
    });
</script>
<script src="../../static/usuarios/js/cadastroicons.js"></script>
{% endblock %}
