{% extends 'base2.html' %}
{% block title %}Cadastre-se{% endblock %}
{% block content %}
<form action="" method="POST" class="formLogin">
{% csrf_token %}
            <h1>Cadastro</h1>
            <p>Digite os dados obrigatórios campo abaixo.</p>
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
    <script>
        var labels = document.querySelectorAll('form label');
        labels.forEach(function(label) {
            label.insertAdjacentHTML('afterend', '<br>');
        });
    </script>
    <script>
        var spans = document.querySelectorAll('form span');
        spans.forEach(function(span) {
            span.insertAdjacentHTML('beforebegin', '<br>');
        });
    </script>
{% endblock %}
