{% extends 'base2.html' %}
{% block title %}Tela de Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/usuarios/css/login.css">
<form action="" method="POST" class="formLogin">
{% csrf_token %}
            <div id="loginform">
                <img class="logologin" oncontextmenu="return false;" src="../../static/usuarios/imagens/Picsart_24-02-17_10-01-27-703.png" alt="">
                {{ form.as_p }}
            </div>
            <div id="loginoptions">
                <a href="/redefinirSenha/">Esqueceu a Senha?</a>
                <p>Novo por Aqui? <a href="/cadastrar/">Cadastre-se</a></p>
            </div>
            <div class="formbtn"><button type="submit" class="btn">Entrar</button></div>
</form>
<script src="../../static/usuarios/js/loginicons.js"></script>
{% endblock %}
