{% extends 'base.html' %}
{% block title %}Excluir{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/meuApp/css/PaginaExcluir.css">
<!-- Criada a div centralizar  -->
<div class="centralizar">
    <!-- Inserida a imagem de alerta-->
    <img src="../../static/meuApp/imagens/icons8-atenção-100.png" alt="">
    <h1>Atenção!</h1>
    <form action="" method="post">
        <p>Deseja excluir permanentemente: {{ object}}?</p>
        {% csrf_token %}
        {{ form.as_p }}
        <!--Criação das classes Cancelar e Confirmar -->
        <!--Criado o botão Cancelar -->
        <button id="btncancelar" class="bntcancelar" type="button">Cancelar</button>
        <button class="bntexcluir" type="submit">Confirmar</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnCancel = document.getElementById("btncancelar");
        btnCancel.addEventListener("click", function () {
            alertify.set('notifier','position', 'top-center');
            alertify.error("Operação cancelada!");
            document.querySelector('.alertify-notifier').style.zIndex = '6000';
            setTimeout(function(){
                window.location.href = "/ListarProdutos/";
            }, 1500);
        });
    });
</script>
{% endblock %}