{% extends 'base.html' %}
{% block title %}Lista de Produtos{% endblock %}
{% block content %}
<style>
  #imagem-container {
  display: none;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  }

#texto:hover + #imagem-container,
#imagem-container:hover {
  display: block;
}
</style>
<h1 id="texto">Lista de Produtos</h1>
<p>Segue a lista de produtos cadastrados.</p>
<hr>

<form action="/uploadExcelProdutos/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="divexcel">
    <a class="txtexcel" id="download" href="/downloadExcelProdutos/">Download Modelo Excel <img class="imgexcel" src="../../static/meuApp/imagens/icons8-arquivo-estatístico-32.png" alt=""></a>
    <label class="txtexcel" id="upload" for="arquivoexcel">Upload Arquivo Excel <img class="imgexcel" src="../../static/meuApp/imagens/icons8-ms-excel-32.png" alt=""></label>
    <input class="inputexcel" type="file" name="inputexcel" id="arquivoexcel">
    <button class="btnexcel" id="btn_excel" type="submit">Enviar</button>
  </div>
</form>

<br>

<div class="divtable">
  <table id="tabelaProduto">
      <thead>
        <tr>
          <th>Cód. Produto</th>
          <th>Descrição</th>
          <th>Marca</th>
          <th>Tipo</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in object_list %}
        <tr>
          <td>{{produto.id}}</td>
          <td>
            <label id="texto">{{produto.descricao}}</label>
            {% if produto.imagem %}
            <div id="imagem-container"><img id="previmg" height="300px" src="{{ produto.imagem.url }}" alt=""></div>
            {% endif %}
          </td>
          <td>{{produto.marca}}</td>
          <td>{{produto.tipo}}</td>
          <td>R${{produto.preco}}</td>
          <td><a title="Editar" href="/produto/{{produto.id}}"><img class='acoes' src="../../static/meuApp/imagens/icons8-editar-48.png" alt="Editar"></a>
          <a title="Excluir" href="/ExcluirProduto/{{produto.id}}"><img class='acoes' src="../../static/meuApp/imagens/icons8-excluir-48.png" alt="Excluir"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script>

  $(document).ready(function(){

      $("#tabelaProduto").DataTable({
          responsive: true,
          // "bSort": false,
          "aaSorting": [],
          "pageLength": 10,
          "language": {
              "decimal": "",
              "emptyTable": "Sem dados disponíveis",
              "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
              "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
              "infoFiltered": "(filtrado de _MAX_ registros no total)",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "Mostrar _MENU_ registros",
              "loadingRecords": "A carregar dados...",
              "processing": "A processar...",
              "search": "Procurar:",
              "zeroRecords": "Não foram encontrados resultados",
              "paginate": {
                  "first": "Primeiro",
                  "last": "Último",
                  "next": "Seguinte",
                  "previous": "Anterior"
              },
              "aria": {
                  "sortAscending": ": ordem crescente",
                  "sortDescending": ": ordem decrescente"
              }
          }
      });

  });

</script>
<script>
  document.getElementById('arquivoexcel').addEventListener('change', function() {
    var fileInput = document.getElementById('arquivoexcel');
    var submitButton = document.getElementById('btn_excel');
    if (fileInput.files.length > 0) {
      submitButton.style.display = 'block';
    } else {
      submitButton.style.display = 'none';
    }
  });
</script>
{% endblock %}