{% extends 'base.html' %}
{% block title %}Lista de Produtos{% endblock %}
{% block content %}
<h1>Lista de Produtos</h1>
<p>Segue a lista de produtos cadastrados.</p>
<form action="{% url 'listarProdutos' %}" id="listarProdutos" method="post">
{% csrf_token %}
<div id="listaProd" class="listaProd">
  <div class="search-container">
    <select id="tipo-pesquisa" name="tipo-pesquisa" required>
        <option value="" disabled selected hidden>Selecione uma opção</option>
        <option value="id">ID</option>
        <option value="Descricao">Descrição</option>
        <option value="marca">Marca</option>
        <option value="tipo">Tipo</option>
        <option value="preco">Preço</option>
    </select>
    <br>
    <br>
    <input type="text" class="search-box" name="campo-pesquisa" placeholder="Pesquisar por...">
    <button class="search-button" name="pesquisar" type="submit">Pesquisar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{produto.id}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.marca}}</td>
        <td>{{produto.tipo}}</td>
        <td>R${{produto.preco}}</td>
        <td><a title="Editar" href="/produto/{{produto.id}}"><img class='acoes' src="../../static/meuApp/imagens/icons8-editar-48.png" alt="Editar"></a>
        <a title="Excluir" href="/ExcluirProduto/{{produto.id}}"><img class='acoes' src="../../static/meuApp/imagens/icons8-excluir-48.png" alt="Excluir"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</form>
{% endblock %}