<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div class="content">

    <input type="checkbox" id="menu-toggle">
    
    <div class="menu">
        <a href="{% url 'home' %}"><img src="../../static/imagens/icons8-casa-inteligente-2-64.png" alt=""> Página Inicial</a>
        <a href="{% url 'cadProduto' %}" name="cadProduto"><img src="../../static/imagens/icons8-produto-64.png" alt=""> Cadastrar Produto</a>
        <a href="{% url 'cadFardo' %}" name="cadFardo"><img src="../../static/imagens/icons8-mover-por-carrinho-64.png" alt=""> Cadastrar Fardo</a>
        <a href="{% url 'listarProd' %}"><img src="../../static/imagens/icons8-lista-de-peças-64.png" alt=""> Listar Produtos</a>
        <a href="{% url 'listarFard' %}"><img src="../../static/imagens/icons8-lista-2-64.png" alt=""> Listar Fardos</a>
    </div>       
        <label for="menu-toggle">&#9776; Menu</label>
        <h1>Cadastro de Produtos</h1>
        <p>Preencha as informações a seguir.</p>
        <br>
        <form action="{% url 'cadastroProdutos' %}" id="cadastroProdutos" method="post">
            {% csrf_token %}
            <label for="desc">Descrição:</label>
            <input type="text" name="desc" id="desc" required placeholder="Descrição do Produto">
            <br>
            <br>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" required placeholder="Marca do Produto">
            <br>
            <br>
            Tipo de Produto: <select id="tipo" name="tipo" required>
                <option value="" disabled selected hidden>Selecione uma opção</option>
                <option value="Medicamento">Medicamento</option>
                <option value="Alimento">Alimento</option>
                <option value="Limpeza">Limpeza</option>
            </select>
            <br>
            <br>
            <label for="preco">Preço:</label>
            <input type="number" name="preco" id="preco" step="0.01" required placeholder="Preço do Produto">
            <br>
            <br>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Cadastrar Produto
            </button>
        </form>
    </div>
</body>
</html>
