<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/meuApp/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/meuApp/imagens/safeshelf-favicon.png" type="image/x-icon">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
</head>
<body>
    {% csrf_token %}
    <input type="checkbox" id="menu-toggle">
    
    <div class="menu">
        <div class="logo_menu">
            <img class="img_logo" src="../static/meuApp/imagens/zyro-image.png" alt="">
            <br>
            <h2>SafeShelf</h2>
            <hr>
        </div>
        <a href="/home/"><img class='menu_lateral' src="../static/meuApp/imagens/icons8-casa-inteligente-2-64.png" alt=""> Página Inicial</a>
        <a href="/CadastrarProduto/" name="cadProduto"><img class='menu_lateral' src="../static/meuApp/imagens/icons8-produto-64.png" alt=""> Cadastrar Produto</a>
        <a href="/CadastrarEstoque/" name="cadFardo"><img class='menu_lateral' src="../static/meuApp/imagens/icons8-mover-por-carrinho-64.png" alt=""> Cadastrar Fardo</a>
        <a href="/ListarProdutos/"><img class='menu_lateral' src="../static/meuApp/imagens/icons8-lista-de-peças-64.png" alt=""> Listar Produtos</a>
        <a href="/ListarEstoque/"><img class='menu_lateral' src="../static/meuApp/imagens/icons8-lista-2-64.png" alt=""> Listar Fardos</a>
        <a href="/MeusDadosPessoais/"><img src="../static/meuApp/imagens/icons8-usuário-32.png" alt=""> Minha Conta</a>
        <form action="/logout/" method="POST">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    </div>

    <div class="content">
        <label for="menu-toggle">&#9776; Menu</label>
        {% block content %}
        {% endblock %}
    </div>
    <script src="../static/meuApp/js/jquery-3.4.1.min.js"></script>
    <script src="../static/meuApp/js/popper.js"></script>
    <script src="../static/meuApp/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>
