<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/usuarios/css/geral.css">
    <link rel="shortcut icon" href="../static/usuarios/imagens/favicon.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>
<body>
    <div class="page">
        {% block content %}
        {% endblock %}
    </div>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    {% for flashmsg in messages %}
        <script>
            alertify.set('notifier','position', 'top-center');
            alertify.success('{{flashmsg}}');
            document.querySelector('.alertify-notifier').style.zIndex = '6000';
        </script>
    {% endfor %}
    <script>
        var labels = document.querySelectorAll('form label');
        labels.forEach(function(label) {
            label.parentNode.removeChild(label);
        });
    </script>
</body>
</html>
